.microphone-record {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: rgb(149, 255, 116);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(61, 252, 3);
  transition: background-color 0.3s ease;
}

.microphone-stop {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: rgb(255, 78, 78);
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(252, 11, 3);
  transition: background-color 0.3s ease;
}

.microphone-record:hover {
  border: 2px solid rgb(61, 252, 3);
  background-color: white;
}

.microphone-stop:hover {
  border: 2px solid rgb(252, 11, 3);
  background-color: white;
}

.microphone-icon {
  height: 50px;
  width: 50px;
  color: rgb(63, 63, 63);
}



/* пагинация */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  margin: 30px;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination li a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}

.pagination .disabled a {
  pointer-events: none;
  opacity: 0.5;
}


html {
      height: 100%;
      margin: 0;
    }